<h3>Applied Leaves</h3>
<table mat-table [dataSource]="leave_list" class="mat-elevation-z8">

    <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef> From </th>
        <td mat-cell *matCellDef="let element"> {{element.from}} </td>
    </ng-container>


    <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let element"> {{element.to}} </td>
    </ng-container>

    <ng-container matColumnDef="total_days">
        <th mat-header-cell *matHeaderCellDef> Total Days </th>
        <td mat-cell *matCellDef="let element"> {{this.apiService.totalDays(element.from, element.to)}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{status_text[element.status]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
